/* Provide sufficient contrast against white background */

@font-face {
  font-family: "Sword";
  src: local("The Last Kingdom"),
    url("./fonts/THE\ LAST\ KINGDOM.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel";
  src: local("PixelIntv-OPxd"),
    url("./fonts/PixelIntv-OPxd.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel Font";
  src: local("PublicPixel-z84yD"),
    url("./fonts/PublicPixel-z84yD.ttf") format("truetype");
}

a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  font-family: "Pixel Font";
  color: #4fa400;
  text-shadow: 1px 1px #5b7743 ;
  background-color: #e0dede;
}

.title {
  text-align: center;
  margin-top: 1.5em;
}